<div class="container">
  <br></br>
  <br></br>
  <h2>管理者ログイン</h2>
  <br></br>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>

  <div class="row">
    <label class="col-md-2">メールアドレス</label>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"60",  placeholder: "sample@example.com" %>
    </div>
  </div>

    <div class="row">
    <label class="col-md-2">パスワード</label>
    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", :size=>"60" %>
    </div>
  </div>
  <br></br>

  <div class="actions">
    <label class="col-md-3"></label>
    <%= f.submit "ログイン", class: "btn btn-outline-primary" %>
  </div>

<% end %>

  <br></br>
  <br></br>
  <p class="text-right">登録がお済みの方は<%= link_to "こちら", new_admin_registration_path %>からログインしてください</p>
  </br>

<!--%= render "admins/shared/links" %>-->
</div>
